# CPU DataFrames: Pandas

!!! tip "Run Jupyter Notebook"
    You can run the code for this section in this [jupyter notebook link](https://github.com/ritchieng/deep-learning-wizard/blob/master/docs/machine_learning/cpu/pandas_df.ipynb) on Google Colab. Simply copy the notebook into your Google Drive and run with Google Colab.

## Creating DataFrames and Series

### From Python Lists

#### 1 Column and 3 Rows

In [6]:
# Import
import pandas as pd

# Create one column, 3 rows
df = pd.DataFrame([1, 1, 1])
df

   0
0  1
1  1
2  1

#### 3 Column and 3 Rows

In [7]:
# Create one column, 3 rows
df = pd.DataFrame([[1, 1, 1],
                   [1, 1, 1],
                   [1, 1, 1],
                  ])
df

   0  1  2
0  1  1  1
1  1  1  1
2  1  1  1

#### 3 Column and 3 Rows with Text Column Names

In [10]:
# Rename column names
df.columns = ['first_column', 'second_column', 'third_column']
df

   first_column  second_column  third_column
0             1              1             1
1             1              1             1
2             1              1             1

#### 3 Column and 3 Rows with Text Index

In [11]:
df.index = ['first_row', 'second_row', 'third_row']
df

            first_column  second_column  third_column
first_row              1              1             1
second_row             1              1             1
third_row              1              1             1

### From Python Dictionaries

In [19]:
d = {'first_row': 1, 
     'second_row': 2, 
     'third_row': 3}

df = pd.DataFrame(d.items())
df

            0  1
0   first_row  1
1  second_row  2
2   third_row  3

### From CSV files